.header-dashboard {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding: 10px;
}

.header-dashboard h3{
    font-weight: 600;
}

.info-panel {
    background-color: #f7f7f7;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    padding: 15px;
}

i {
    padding: 7px;
}

#logger-body {
    background-color: #555555;
    padding: 15px;
    overflow: scroll;
    width: 100%;
    margin: 10px;
}

.log-content {
    color: white;
}

.repo-panel {
    padding: 15px;
    background-color: white;
    margin: 8px;
    border: solid 1px;
    border-color: rgba(220,220,220,1);
}

