{% extends "base.html" %}

{% block navbar %}
    <nav class="navbar navbar-dark bg-dark shadow-sm mb-3">
      <a class="navbar-brand" href="/">
        Cauldron v2
      </a>

      {% if auth_user %}
      <div class="dropleft">
          <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ auth_user.username }}
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="/logout">Log out</a>
            <a target="_blank" rel="noreferrer noopener"class="dropdown-item text-danger" href="https://github.com/settings/connections/applications/{{ gh_client_id }}">Revoke access</a>
        </div>
      </div>
      {% endif %}
    </nav>
{% endblock %}

{% block content %}

    <div class="modal fade" id="modalNewDashboard" tabindex="-1" role="dialog" aria-labelledby="modalNewDashboardTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalNewDashboardTitle">Generate a new Dashboard</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <div class="container">
              <div class="row">
                {% if not auth_user %}
                <div class="col-md-12">
                  <div class="card shadow-sm mb-3">
                    <div class="card-header">
                      <h4 class="font-weight-normal">GitHub authentication</h4>
                    </div>
                    <div class="card-body">
                      <form action="{{ gh_uri_identity }}" method="GET">
                        <div class="from-group">
                          <label>We need your token for analyzing your repositories. You can revoke the access later.</label>
                        </div>
                        <input type="hidden" name="client_id" value="{{ gh_client_id }}">
                        <button type="submit" class="btn btn-outline-primary">GitHub Login</button>
                      </form>
                    </div>
                  </div>
                </div>
                {% else %}
                <div class="col-md-6">
                  <div class="card shadow-sm mb-3">
                    <div class="card-header">
                      <h4 class="font-weight-normal">Dashboard for a repository</h4>
                    </div>
                    <div class="card-body">
                      <form action="/create-dashboard" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                          <label for="repositoryURL">Repository URL</label>
                          <input type="text" name="url" class="form-control" id="repositoryURL" placeholder="Enter repository">
                        </div>
                        <button type="submit" class="btn btn-outline-primary">Get Dashboard</button>
                      </form>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card shadow-sm mb-3">
                    <div class="card-header">
                      <h4 class="font-weight-normal">Dashboard for a user or organization</h4>
                    </div>
                    <div class="card-body">
                      <form action="/create-dashboard" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                          <label for="gh-org">GitHub Owner (User/Organization)</label>
                          <input type="text" name="gh-org" class="form-control" id="gh-org" placeholder="Enter a name">
                        </div>
                        <button type="submit" class="btn btn-outline-primary">Get Dashboard</button>
                      </form>
                    </div>
                  </div>
                </div>
                {% endif %}
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card shadow-sm mb-3">
            <div class="card-header">
              <h4 class="font-weight-normal">List of dashboards</h4>
            </div>
            <div class="card-body">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Status</th>
                    <th scope="col">Completed</th>
                    <!--<th scope="col">Author</th>-->
                  </tr>
                </thead>
                <tbody>
                  {% for db in dashboards %}
                  <tr>
                    <td><a href="/dashboard/{{db.name}}">{{db.name}}</a></td>
                    <td>{{db.status}}</td>
                    <td>{{db.completed}}/{{db.total}}</td>
                    <!--<td>{{db.creator}}</td>-->
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalNewDashboard">
                Launch new dashboard
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}